@import "tailwindcss";
@import "tw-animate-css";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "../../../../packages/react/src/support/support.css";

@plugin 'tailwind-scrollbar';

@source "../../../../packages/react/src/support";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(99% 0 0);
	--background-100: oklch(98% 0 0);
	--background-200: oklch(97% 0 0);
	--background-300: oklch(96% 0 0);
	--background-400: oklch(94% 0 0);
	--background-500: oklch(92% 0 0);
	--background-600: oklch(91% 0 0);

	--foreground: oklch(14.5% 0 0);

	/* Layout dimensions */
	--header-height: 80px;
	--footer-height: 0px;

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(14.5% 0 0);
	--primary: oklch(20.5% 0 0);
	--primary-foreground: oklch(98.5% 0 0);
	--secondary: oklch(97% 0 0);
	--secondary-foreground: oklch(20.5% 0 0);
	--muted: oklch(97% 0 0);
	--muted-foreground: oklch(55.6% 0 0);
	--accent: oklch(97% 0 0);
	--accent-foreground: oklch(20.5% 0 0);
	--destructive: oklch(57.7% 0.245 27.325);
	--destructive-foreground: oklch(57.7% 0.245 27.325);
	--border: oklch(92.2% 0 0);
	--input: oklch(92.2% 0 0);
	--ring: oklch(70.8% 0 0);
	--radius: 0.25rem;
	--sidebar: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);

	--cossistant-pink: hsla(314, 100%, 75%, 1);
	--cossistant-yellow: hsla(58, 92%, 70%, 1);
	--cossistant-blue: hsla(218, 91%, 68%, 1);
	--cossistant-orange: hsla(19, 99%, 65%, 1);
}

.dark {
	--background: oklch(14.5% 0 0);
	--background-100: oklch(15.5% 0 0);
	--background-200: oklch(16.5% 0 0);
	--background-300: oklch(17.5% 0 0);
	--background-400: oklch(18.5% 0 0);
	--background-500: oklch(19.5% 0 0);
	--background-600: oklch(20.5% 0 0);

	--foreground: oklch(98.5% 0 0);

	--popover: oklch(14.5% 0 0);
	--popover-foreground: oklch(98.5% 0 0);

	--primary: oklch(98.5% 0 0);
	--primary-foreground: oklch(20.5% 0 0);

	--secondary: oklch(26.9% 0 0);
	--secondary-foreground: oklch(98.5% 0 0);

	--muted: oklch(26.9% 0 0);
	--muted-foreground: oklch(70.8% 0 0);

	--accent: oklch(26.9% 0 0);
	--accent-foreground: oklch(98.5% 0 0);

	--destructive: oklch(39.6% 0.141 25.723);
	--destructive-foreground: oklch(63.7% 0.237 25.331);

	--border: oklch(26.9% 0 0);
	--input: oklch(26.9% 0 0);
	--sidebar: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);

	--cossistant-pink: hsla(314, 100%, 85%, 1);
	--cossistant-yellow: hsla(58, 92%, 79%, 1);
	--cossistant-blue: hsla(218, 91%, 78%, 1);
	--cossistant-orange: hsla(19, 99%, 50%, 1);
}

@theme inline {
	--font-sans: "Geist", sans-serif;
	--font-mono: "Geist Mono", monospace;
	--font-f37-stout: "F37Stout", sans-serif;
	--color-background: var(--background);
	--color-background-100: var(--background-100);
	--color-background-200: var(--background-200);
	--color-background-300: var(--background-300);
	--color-background-400: var(--background-400);
	--color-background-500: var(--background-500);
	--color-background-600: var(--background-600);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--radius: var(--radius);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);

	/* custom colors */
	--color-cossistant-pink: var(--cossistant-pink);
	--color-cossistant-yellow: var(--cossistant-yellow);
	--color-cossistant-blue: var(--cossistant-blue);
	--color-cossistant-orange: var(--cossistant-orange);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.step {
		counter-increment: step;
	}

	.step:before {
		@apply md:absolute w-8 h-8 md:w-9 md:h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 mr-2 border-background;
		@apply md:ml-[-50px] md:mt-[-4px];
		content: counter(step);
	}

	.chunk-container {
		@apply shadow-none;
	}

	.chunk-container::after {
		content: "";
		@apply absolute -inset-4 shadow-xl rounded border;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.border-grid-x {
		@apply border-x border-primary/10 border-dashed;
	}

	.container-wrapper {
		@apply max-w-[1400px] min-[1800px]:max-w-screen-2xl mx-auto w-full border-x border-primary/10 border-dashed;
	}

	.container {
		@apply px-4 mx-auto max-w-screen-2xl;
	}
}
